<h1>Fresh posts for today!</h1>

	<% @results.each do |post| %>
		<p>
			<h2><%= post['content'] %></h2>
			<br/>
			
			Added at <%= post['created_date'] %>
			<br/>
			<a href="/details/<%= post['id'] %>">Commets</a>

		</p>
		<hr/>
	<% end %>