<h1>Add New Posts</h1>

<form action="/new" method = "POST" role = "form">
  <textarea name = "content" style = "width:400px" class="form-control" rows="4" placeholder = "type text here"></textarea>
  <br/>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>